<template>
	<tr>
		<td>{{row.ior}}</td>
		<td>{{row.installment}}</td>
		<td>{{row.step1}}</td>
		<td>{{row.step2}}</td>
		<td>{{row.step3}}</td>
		<td>{{row.step4}}</td>
		<td>{{row.step5}}</td>
	</tr>
</template>

<script>
	export default {
		name: "Row",
		props: ["row"],
	}
	
</script>

<style scoped>

</style>