// How to Fix error:03000086:digital envelope routines::initialization
// set NODE_OPTIONS=--openssl-legacy-provider

<template>
  <div id="app">
    <div class="nav_rama-head">
            <div class="container3" style="margin-top: 20px;">
            <div class="rama_logo"><a href="/logo_rama">
                <img src="https://www.rama.mahidol.ac.th/research/crc/sites/default/files/LogoRama2Website236X192_0.png"></a></div> 
            <div class="h1First"><a href="/">คณะแพทยศาสตร์โรงพยาบาลรามาธิบดี มหาวิทยาลัยมหิดล</a></div>
            <div class="h1Second"><a href="/research/crc/th"> หน่วยวิจัยทางคลินิก</a></div>
            </div>
        </div>
        <br>
        <div class="container3">
            <p class="p-3 mb-2 bg-body-tertiary">เช็คสถานะเอกสารการนำส่งเงิน (วจ.1)</p>
        </div>
        <br>
    <router-view/>
    
   <!-- BOTTOM -->
    <header class="zone zone-bottom zone-annex container-wrapper">
        <div class="container">
            <div class="zone-inner">
            <div class="region region-bottom">
            <div id="block-block-8" class="block block-block">  
        <div class="content">
            <div class="footer-style">
                <div class="a-resp-wh footer-style-icon"><a href="/research/crc"><em class="fa fa-home">&nbsp;</em></a></div>
                <div class="a-resp-wh footer-style-detial">
                <div class="footer-style-title" style="color:#333333">หน่วยวิจัยทางคลินิก สำนักงานวิจัย วิชาการและนวัตกรรม</div>
                <div>คณะแพทยศาสตร์โรงพยาบาลรามาธิบดี มหาวิทยาลัยมหิดล</div>
                <div>270 ถนนพระราม 6 แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพฯ 10400</div>
                <div>โทร. 0-2201-1638 , 0-2201-2618 (คุณวลัยพรรณ และ คุณเกศราภรณ์)</div>
                
            </div>     
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <br>
    </header>
    </div>

</template>




<style>

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@500&family=Kodchasan:wght@500&family=Noto+Sans+Thai+Looped&family=Sarabun:wght@300&display=swap');
div.nav_rama-head {
    border-top: 7px solid #0035AD;
    background: #0A3D5D;
    padding-top: 0;
}

.rama_logo {
    margin: 10px 10px 0px 10px !important;
    float: left;
    margin: 0px 0 !important;
    min-height: 60px;
    float: left;
    clear: left;
    
    
}
.rama_logo img {
    width: 120px;
    margin-top: 0;
    padding: 15px;
}

.nav_rama-head {
    padding: 10px 0;
}

.h1First a:link, .h1First a:visited, .h1First a:hover, .h1First a:active, .h1Second a:link, .h1Second a:visited, .h1Second a:hover, .h1Second a:active {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 25px;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Kodchasan', sans-serif;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-family: 'Sarabun', sans-serif;
    font-weight: 1000;
}

.container3 {
    max-width: 1600px;
    width: 91vw;
    margin-right: auto;
    margin-left: auto;
    font-weight: 600;
}
.container3 {
    max-width: 1600px;
    width: 91vw;
    margin-right: auto;
    margin-left: auto;
    color: #000000;
    text-decoration: none;
    font-size: 30px;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Kodchasan', sans-serif;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-family: 'Sarabun', sans-serif;
    
}

.container {
    max-width: 1600px;
    width: 91vw;
    margin-right: auto;
    margin-left: auto;
    
}

.container {
  max-width: 960px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }




.zone {
    border-bottom: 1px solid #e5e5e5;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .5px;
    color: #333;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Kodchasan', sans-serif;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-family: 'Sarabun', sans-serif;
    width: 100%;
    height: auto;
    background-color: #ffffff93;
    padding: 50px 0;
    display: grid;
    place-items: center;
    max-width: 1600px;
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
}

.footer-style .footer-style-icon {
    float: left;
    margin: 0;
    padding: 5px;
    
}
.a-resp-wh a:visited {
    color: #FFF;
    text-decoration: none;
}
.footer-style .footer-style-icon em {
    background-color: #5ca038;
    border-radius: 50%;
    padding: 0 0 0 10px;
    color: #FFFFFF;
    font-size: 2em;
    display: inline-block;
    width: 55px;
    height: 50px;
    line-height: 50px;
    margin: 1px;
    text-align: center;
}



</style>
